
body {
    background-color: gray;
}
.red{
    width: 500px;
    height: 300px;
    background-color: darkred;
    position: relative;
}
.blue {
    width: 500px;
    height: 150px;
    background-color: darkblue;
    position: absolute;
    top: 80px;
}
.circle{
    width: 130px;
    height: 130px;
    background-color: white;
    position: absolute;
    top: 90px;
    left: 180px;
    border-radius: 50%;
}



.plava {
    width: 500px;
    height: 350px;
    background-color: rgb(20, 45, 189);
    position: relative;
}
.bijeli-vert {
    width: 80px;
    height: 350px;
    background-color: white;
    position: absolute;
    left: 100px;
}
.bijeli-hor {
    width: 500px;
    height: 80px;
    background-color: white;
    position: absolute;
    top: 130px;
}
.crveni-vert {
    width: 30px;
    height: 350px;
    background-color: darkred;
    position: absolute;
    left: 125px;
}
.crveni-hor {
    width: 500px;
    height: 40px;
    background-color: darkred;
    position: absolute;
    top: 150px;
}


/* .bla {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 50px black;
    border-top: 50px transparent;
    border-bottom: 50px transparent;
} za trokute*/

.back {
    width: 500px;
    height: 350px;
    background-color: rgb(16, 105, 117);
    position: relative;
    z-index: 1;
}
.center{
    width: 500px;
    height: 120px;
    background-color: rgb(173, 173, 5);
    position: absolute;
    top: 120px;
}
.arrow {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 175px solid black;
    border-top: 175px solid transparent;
    border-bottom: 175px solid transparent;
}



.backg{
    width: 500px;
    height: 350px;
    background-color: darkred;
    position: relative;
}
.white {
    width: 120px;
    height: 350px;
    background-color: white;
    position: absolute
}
.trokut{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 50px solid white;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    left: 120px;
}
.tr{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 50px solid white;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    left: 120px;
    top: 70px;
}
.tro{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 50px solid white;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    left: 120px;
    top: 105px;
}
.trok{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 50px solid white;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    left: 120px;
    top: 140px;
}
.troku{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 50px solid white;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    left: 120px;
    top: 175px;
}
.zvijezda {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: gold;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    left: 175px;
    top: 100px;
}
.zel {
    width: 400px;
    height: 300px;
    position: relative;
    background-color: rgb(35, 121, 68);
}
.crv {
    width: 150px;
    height: 300px;
    position: absolute;
    background-color: rgb(177, 37, 37);
    left: 150px;
}
.zut {
    width: 150px;
    height: 300px;
    position: absolute;
    background-color: gold;
    left: 300px;
}

.crve{
    width: 450px;
    height: 300px;
    position: relative;
    background-color: red;
}
.bij{
    width: 170px;
    height: 170px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    left: 50px;
    top: 80px;
}
.polu{
    width: 140px;
    height: 140px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    left: 85px;
    top: 95px;
}
.star {
    width: 80px;
    height: 80px;
    position: relative;
    background-color: white;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    left: 185px;
    top: 120px;
    transform: rotate(-20deg);
}