html{
    height: 100%;
    background-image: linear-gradient(to bottom, #F5EBFA, #E7DBEF, #A56ABD, #6E3482, #49225B);
    position: relative;
}
p{
    padding: 20px;
    padding-left: 40px;
    color: white;
}
.bijeli{
    color: white;
    position: absolute;
    padding: 20px;
    padding-left: 40px;
}
.roza {
    color: #A56ABD;
    position: absolute;
    padding: 20px;
    padding-left: 40px;
}
.prva {
    width: 400px;
    height: 190px;
    background-color: #49225B;
    position: absolute;
    border-radius: 90px;
    left: 820px;
    top: 190px;
    box-shadow: 1px 1px 9px 1px;
}
.druga {
    width: 400px;
    height: 190px;
    background-color: #6E3482;
    position: absolute;
    border-radius: 90px;
    left: 820px;
    top: 290px;
    box-shadow: 1px 1px 9px 1px;
}
.treca {
    width: 400px;
    height: 190px;
    background-color: #A56ABD;
    position: absolute;
    border-radius: 90px;
    left: 820px;
    top: 390px;
    box-shadow: 1px 1px 9px 1px;
}
.cetvrta {
    width: 400px;
    height: 190px;
    background-color: #E7DBEF;
    position: absolute;
    border-radius: 90px;
    left: 820px;
    top: 490px;
    box-shadow: 1px 1px 9px 1px;
}
.peta {
    width: 400px;
    height: 190px;
    background-color: #F5EBFA;
    position: absolute;
    border-radius: 90px;
    left: 820px;
    top: 590px;
    box-shadow: 1px 1px 9px 1px;
}
