#red {
    color: red;
}
#blue {
    color: blue;
}
#orange {
    color: orange;
}
#green {
    color: green;
}
#yellow {
    color: yellow;
}
h2 {
    font-weight: normal;
}
img {
    width: 200px;
    height: 200px;
}

h1 {
    /* color: hsl(0, 100%, 49%); */
    /* color: lch(70.12% 34.25 234.29);  */
    /* color: hsl(313, 100%, 50%); */
    color: rgba(20, 50, 58, 0.3); /* alpha od 0-1(prozirnost) */
}