.back{
    background-color: #668884;
    width: 400px;
    height: 300px;
    position: relative;
    border: 10px solid black
}
.prva {
    background-color: #EED9D9;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    top: 130px;
    left: 10px;
}
.druga {
    background-color: #EED9D9;
    width: 50px;
    height: 10px;
    position: absolute;
    top: 145px;
    left: 60px;      
}
.treca {
    background-color: #EED9D9;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    top: 130px;
    left: 120px;
}
.cetvrta {
    background-color: #EED9D9;
    width: 50px;
    height: 10px;
    position: absolute;
    top: 145px;
    left: 170px;      
}
.peta {
    background-color: #EED9D9;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    top: 130px;
    left: 230px;
}
.sesta {
    background-color: #EED9D9;
    width: 50px;
    height: 10px;
    position: absolute;
    top: 145px;
    left: 280px;      
}
.sedma {
    background-color: #EED9D9;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    top: 130px;
    left: 340px;
}
.original {
    margin-top: -320px;
    margin-left: 500px;
}



/* drugi zad */
.osobna{
    height: 300px;
    width: 500px;
    border: solid black 5px;
    position: relative;

}

.slika{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    position: absolute;
    margin-top: 50px;
    margin-left: 40px;
    object-fit: cover;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.name{
    position: absolute;
    margin-left: 230px;
    margin-top: 30px;
}

.prvi{
    position: absolute;
    margin-left: 200px;
    margin-top: 70px;
}
.drugi{
    position: absolute;
    margin-left: 200px;
    margin-top: 130px;
}
.treci{
    position: absolute;
    margin-left: 200px;
    margin-top: 160px;
}
.cetvrti{
    position: absolute;
    margin-left: 220px;
    margin-top: 210px;
}
.peti{
    position: absolute;
    margin-left: 320px;
    margin-top: 210px;
}
.insta {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 220px;
    left: 313px;
} 
.face {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 235px;
    left: 230px;
    border-radius: 50%;
} 
