*{
    margin: 0;
    box-sizing: border-box;
}
.body{
    background-color: rgb(252, 96, 96);
    font-family: Arial, Helvetica, sans-serif;
}
.flexcontainer{
    display: flex;
    height: 100vh;

    flex-wrap: wrap;
    justify-content: space-between;
    
    
}
header{
    background-color: rgb(252, 96, 96);
    
}
.flexcontainer > *,section{
    padding: 10px;
}
header, footer{
    background-color: #999;
    flex: 0 100%;
    height: 10vh;
} 
main{
    display: flex;
    height: 80vh;
    flex: 0 100%;
    flex-wrap: wrap;
    
    
}
section{
    flex: 0 100%;
    background-color: #eee;
    text-align: center;
    align-content: center;
    font-size: 30px;
}
section:first-child{
    background-color: white;
}
@media (max-width: 1023px) {
    section{
        
        flex: 0 50%;
        height: 60%;
    }
    section:first-child{
        flex: 0 100%;
        height: 50%;
    }
}

@media (max-width: 480px) {
    section{
        
        flex: 0 100%;
        height: 48%;
    }
}
@media (min-width: 1024px) {
    .red, .orange, .yellow, .green{
        
        flex: 0 25%;
        height: 100%;
    }
}